<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
    <header>
        <div class="container">
            <h1><a href="/blog" class="blog-title">My Blog</a></h1>
            <nav>
                <a href="{% url 'create' %}" class="btn">Новый пост</a>
            </nav>

              {% if user.is_authenticated %}
                 <nav>
                <a class="btn" href="{% url 'profile' %}">Профиль</a>
                <a class="btn" href="{% url 'logout' %}">Выход</a>
                 </nav>
              {% else %}
            <nav>
                 <a href="{% url 'login' %}" class="btn" >Login</a>
                <a href="{% url 'register' %}" class="btn">Register</a>
            </nav>
              {% endif %}



        </div>
    </header>

<body>
{% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
{% endif %}
{% block registration%}
{% endblock %}
{% block detail%}
{% endblock %}
{% block content%}
{% endblock %}
{% block create%}
{% endblock %}
{% block login%}
{% endblock %}
{% block logout%}
{% endblock %}
{% block profile %}
{% endblock %}
</body>
