<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
    <header>
        <div class="container">
            <h1><a href="/blog" class="blog-title">My Blog</a></h1>
            <nav>
                <a href="{% url 'create' %}" class="btn">Новый пост</a>
            </nav>
            <nav>
                <a href="{% url 'create' %}" class="btn">Login</a>
                <a href="{% url 'create' %}" class="btn">Register</a>
            </nav>
        </div>
    </header>

<body>
{% block content %}
{% endblock %}
{% block create %}
{% endblock %}
{% block detail %}
{% endblock %}
</body>
